body{
    background-image: url(./images/background.jpg);
}

.jumbotron{
    padding-top: 25px;
    padding-bottom: 30px;
}

.myborder{
    border-bottom: solid whitesmoke;
}

.h1 {
    font-family: 'Times New Roman', Times, serif;
    
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: solid;
    border-width: thick; 
    line-height: 60px !important;
}
